/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    background-image: url("../images/board.png");
    margin: auto;
    margin-top: 10vh;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
}