/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.grid {
    background-image: url("../images/board.png");
    margin: auto;
    margin-top: 5vh;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: grid;
    gap: 4px;
    grid-template-rows: 31% 36% 31%;
}

.grid>div {
    display: grid;
    width: 100%;
    grid-template-columns: 33.5% 32.5% 32.5%;
    gap: 3px;
}

.square{
    opacity: 0;
    transition: opacity 1s;
}

.red{
    background-image: url("../images/red.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

.yellow{
    background-image: url("../images/yellow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

.scores{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    font-size: large;
    margin-top: 50px;
}

.scores span{
    font-weight: bold;
    font-size: 25px;
}

.scores > div:first-child > span{
    color: red;
}

.scores > div:last-child > span{
    color: yellow;
}